@charset "utf-8";

/* responsive- tablet */
/* max-width: 1024px */

@media all and (max-width:1024px) {
    header {
        height: 80px;
        padding: 10px 0;
    }

    header .inner {
        position: static;
    }

    /* 모바일 메뉴 */
    header .m-menu {
        display: block;
        float: right;
    }
    header .m-menu img{
        height: 50px;
        margin-top: 5px;
        display: block;
    }

    header .gnb {
        background-color: rgba(0, 255, 255, 0.9);
        width: 100%;
        top: 80px;
        display: none;
    }
    header .gnb ul li {
        width: 100%;
        margin: 0;
        float: none;
        padding-left: 5%;
        box-sizing: border-box;
    }

    header .sns {
        display: none;
    }

    section{
        margin-top: 80px;
    }

    article.intro{
        height: 500px;
        background-size: 50% auto;
        background-position: right center;
        margin-bottom: 50px;
    }
    article.intro .txt-box{
        width: 45%;
    }
    article.intro .txt-box .des-en{
        font-size: 19.2px;
        font-size: 1.2rem;
        line-height: 1.2;
    }
    article.intro .txt-box .des-ko{
        font-size: 16px;
        font-size: 1rem;
    }
    article.intro .btn{
        font-size: 16px;
        font-size: 1rem;
        padding: 12px;
    }

    article.works .img-wrap .img-box{
        width: 49%;
    }
    article.works .img-wrap .img-box:nth-child(2n+1){
        margin-left: 0;
    }

    article.about{
        margin-top: 80px;
        margin-bottom: 80px;
    }
    article.about p{
        width: 70%;
    }
    article.about .btn-more{
        padding: 12px;
    }

    article.news .box-wrap .box{
        width: 32.66%;
    }
    article.news .box-wrap .box ~ .box{
        margin-left: 1%;
    }
    article.news .box-wrap .box p{
        padding: 0 5px;
    }
    article.news .box-wrap .box .title{
        font-size: 16px;
        font-size: 1rem;
    }
    article.news .box-wrap .box .date{
        font-size: 15px;
        font-size: 0.9375rem;
    }

    section.contact{
        padding: 80px 0 140px;
    }
    section.contact p{
        font-size: 19.2px;
        font-size: 1.2rem;
    }
    section.contact .btn-more{
        padding: 12px;
    }

    footer .footer-box{
        width: 100%;
        float: none;
        margin-bottom: 20px;
    }
    footer .footer-box h3{
        margin-bottom: 0;
    }
    footer .top{
        right: 60px;
        bottom: 60px;
    }
}
